<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.dhc.chinacultural">

    //网络权限
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ScrollingActivity">
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            >
        </activity>
        <activity
            android:name=".activity.ImagesActivity">
        </activity>
        <activity
            android:name=".activity.LanmuActivity">
        </activity>
        <activity
            android:name=".activity.PInglunActivity">
        </activity>
        <activity
            android:name=".activity.IndexActivity">
        </activity>
        <activity
            android:name=".activity.RegisterActivity">
        </activity>
        <activity
            android:name=".activity.SearchActivity">
        </activity>
        <activity
            android:name=".activity.NewsActivity">
        </activity>
        <activity
            android:name=".activity.NewsDetailActivity">
        </activity>
        <activity
            android:name=".activity.SearchAfterActivity">
        </activity>
        <activity
            android:name=".activity.MoreLanmuActivity">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".activity.wenziActivity"
            android:theme="@style/AppTheme.NoActionBar"

            ></activity>
        <activity
            android:name=".activity.ChuangzuoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".activity.wentiActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".activity.wentibianjiActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".activity.genrenziliaoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".activity.shejiaobdActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".activity.wodedingyueActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".activity.wodeshoucang"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".activity.wodejifenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
    </application>

</manifest>